<div class="container">
  <div class="home">
    <div class="home_title">
      <h1>あなたの演奏をみんなとの演奏に</h1>
    </div>
    <button class="btn btn_login">ログイン</button>
    <div class="modal_wrap">
      <div class="modal_content">
        <div class="modal_login">今すぐログイン!</div>
        <div class="modal_login_item">
          <button class="modal_login_item_twitter"><span class="fa fa-twitter"></span>Twitterでログイン</button>
          <button class="modal_login_item_facebook"><span class="fa fa-facebook"></span>Facebookでログイン</button>
          <button class="modal_login_item_google"><span class="fa fa-google"></span>Googleでログイン</button>
        </div>
        <div class="btn_close">
          <i class="far fa-times-circle">閉じる</i>
        </div>
      </div>
    </div>
  </div>
</div>