<div class="container">
  <div class="home">
    <div class="home_title">
      <h1>あなたの演奏をみんなとの演奏に</h1>
    </div>
    <h3 class="btn btn-login">ログイン</h3>
    <div class="modal_wrap">
      <div class="modal_content">
        <div class="modal_login">今すぐログイン!</div>
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">Google</a>
      </div>
    </div>
  </div>
</div>