.container
  .home
    .home_title1
      %h1 あなたの演奏を
    .home_title2
      %h1 みんなとの演奏に
    - if user_signed_in?
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn_logout'
    - else
      %button.btn.btn_login ログイン
    .modal_wrap
      .modal_content
        .modal_login 今すぐログイン!
        .btn_close
          %i.far.fa-times-circle
        .modal_login_item
          %button.modal_login_item_google
            =link_to user_google_oauth2_omniauth_authorize_path do
              %span.fa.fa-google
                Googleでログイン
          .modal_login_item_signin
            既にアカウントをお持ちの方は#{link_to 'こちら', new_user_session_path}←
          .modal_login_item_signup
            新しくアカウントを作成する方は#{link_to 'こちら', new_user_registration_path}←
= javascript_pack_tag 'modal'