<div class="container">
  <div class="home">
    <div class="home_title1">
      <h1>あなたの演奏を</h1>
    </div>
    <div class="home_title2">
      <h1>みんなとの演奏に</h1>
    </div>
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, data: {method: 'delete'}, class: 'btn btn_logout' %>
    <% else %>
      <button class="btn btn_login">ログイン</button>
    <% end %>
    <div class="modal_wrap">
      <div class="modal_content">
        <div class="modal_login">今すぐログイン!</div>
        <div class="btn_close">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="modal_login_item">
          <button class="modal_login_item_twitter"><span class="fa fa-twitter"></span>Twitterでログイン</button>
          <button class="modal_login_item_facebook"><span class="fa fa-facebook"></span>Facebookでログイン</button>
          <button class="modal_login_item_google"><span class="fa fa-google"></span>Googleでログイン</button>
          <div class="modal_login_item_signin">既にアカウントをお持ちの方は<%= link_to 'こちら', new_user_session_path %>←</div>
          <div class="modal_login_item_signup">新しくアカウントを作成する方は<%= link_to 'こちら', new_user_registration_path %>←</div>
        </div>
      </div>
    </div>
  </div>
</div>