<div class="container">
  <div class="followings">
    <div class="followings_index">
      <% users.each do |user| %>
      <%= link_to account_path(user) do %>
        <div class="followings_index_user">
          <div class="followings_index_user_image">
            <%= image_tag user.avatar_image %>
          </div>
          <div class="followings_index_user_text">
            <div class="followings_index_user_name">
                <%= user.display_name %>
            </div>
            <div class="followings_index_user_introduction">
                <%= user.profile&.introduction %>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>