<div class="tabs">
    <div class="tabs_item active">
      <%= link_to articles_path, data: {method: 'get'} do %>
        投稿内容一覧
      <% end %>
    </div>
    <div class="tabs_item">
      <%= link_to 'タイムライン', timeline_path %>
    </div>
</div>