@import 'variables';

.show {
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 100vh;
    padding: 20px 20px;
    position: relative;

    &_date {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &_title {
        border-bottom: 1px dotted sienna;
    }

    &_content {
        border-top: 1px solid silver;
        border-bottom: 1px dotted sienna;
        padding-top: 20px;
        margin-top: 20px;
    }
    
    &_detail {
        position: relative;
        margin-top: 40px;

        &_content {
            display: flex;
            position: absolute;
            right: 0;
        }

        &_name {
            color: $text-base-color;
        }

        &_heart {
            margin-top: 10px;
            margin-left: 20px;
        }
    }
}

