@import 'modal';

.btn {
    cursor: pointer;
    padding: 6px 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: lightblue;
    text-align: center;
  
    &_login {
        width: 160px;
        position: fixed;
        left: 44%;
        margin: auto;
        bottom: 30px;
        display: block;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    &_close {
        color: lightgray;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 5px 4px;
        width: 30%;
        position: absolute;
        left: 34%;
        bottom: 5px;
    }

    &_close:hover {
        color: slategray;
        cursor: pointer;
    }
}

.btn:hover {
    opacity: 0.9;
}