@import './variables';

.dropbtn {
  border: none;
  position: absolute;
  right: 0;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.mini {
    min-width: 100px;
  }
}

.dropdown-content a {
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  opacity: 0.8;
}

.dropdown:hover .dropdown-content {
  display: block;
}