@import 'variables';

.form {
    color: $text-base-color;

    &_title {
        margin-bottom: 7px;
        display: block;

        &_text {
            width: 100%;
            height: 50px;
            background-color: rgba(255,255,255, 0.6);
            border: none;
            display: block;
            margin-bottom: 7px;
            font-size: 15pt;
            letter-spacing: 0.5px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }

    &_content {
        display: block;
        margin-bottom: 7px;

        &_text {
            padding: 0;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            min-height: 100vh;
            background-color: rgba(255,255,255, 0.6);
            border: none;
            display: block;
            margin-bottom: 7px;
            font-size: 15pt;
            letter-spacing: 0.5px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }


    &_name {
        margin-bottom: 7px;
        display: block;

        &_nickName {
            width: 100%;
            height: 50px;
            background-color: rgba(255,255,255, 0.6);
            border: none;
            display: block;
            margin-bottom: 7px;
            font-size: 15pt;
            letter-spacing: 0.5px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }

    &_introduction {
        margin-bottom: 7px;
        display: block;

        &_text {
            width: 100%;
            min-height: 100vh;
            background-color: rgba(255,255,255, 0.6);
            border: none;
            display: block;
            margin-bottom: 7px;
            font-size: 15pt;
            letter-spacing: 0.5px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }

    &_gender {
        margin-bottom: 7px;
        display: block;

        &_text {
            padding-top: 2px;
            padding-bottom: 5px;
            margin-bottom: 7px;
            border: none;
        }
    }

    &_location {
        margin-bottom: 7px;
        display: block;

        &_text {
            padding-top: 2px;
            padding-bottom: 5px;
            margin-bottom: 7px;
            border: none;
        }
    }

    &_musical-instrument {
        margin-bottom: 7px;
        display: block;

        &_text {
            padding-top: 5px;
            padding-bottom: 10px;
            margin-bottom: 7px;
            border: none;
            border-radius: 5px;
        }
    }

    &_birthday {
        margin-bottom: 7px;
        display: block;

        &_text {
            border: none;
            padding-top: 3px;
            padding-bottom: 3px;
            margin-bottom: 7px;
        }
    }

    &_icon {
        margin-bottom: 7px;

        &_field {
            padding-top: 3px;
            padding-bottom: 3px;
            margin-bottom: 7px;
        }
    }

    &_eyecatch {
        margin-bottom: 7px;

        &_field {
            padding-top: 3px;
            padding-bottom: 3px;
            margin-bottom: 7px;
        }
    }

    .btn-primary {
        color: #fff;
        border: none;
        background-color:#008080;
        width: 100%;
        padding: 12px 0;
        margin-top: 7px;
    }

    .btn-primary:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

@media screen and (min-width: 2560px) {
    .form {
        font-size: 30px;

        &_eyecatch {

            &_field {
                font-size: 30px;
            }
        }

        &_icon {

            &_field {
                font-size: 30px;
            }
        }

        &_gender {
            
            &_text {
                font-size: 30px;
                padding-bottom: 12px;
            }
        }

        &_location {

            &_text {
                font-size: 30px;
            }
        }

        &_birthday {

            &_text {
                font-size: 30px;
                padding-bottom: 11px;
            }
        }

        &_musical-instrument {
    
            &_text {
                padding-top: 8px;
                padding-bottom: 11px;
                margin-bottom: 7px;
                border: none;
                border-radius: 10px;
                width: 260px;
                height: 60px;
                font-size: 28px;
            }
        }
    }

    .submit_btn {
        padding: 20px 0;
        font-size: 33px;
    }
}