@import 'variables';

.account-create, .signin, .cg-pwd {
    color: $text-base-color;
}

.text {
    padding: 5px;
    width: 100%;
    border: none;
    background-color: rgba(255,255,255, 0.6);
    margin-bottom: 20px;
}

.signup, .login, .cg-pwd-btn {
    margin-bottom: 20px;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #008080;
}

.login {
    margin-top: 20px;
}
